[Unit]
Description=RFFE EPICS IOC %i
After=network-online.target
Wants=network-online.target

[Service]
User=iocs

MemoryAccounting=yes

Environment="RFFE_BASE_IP_ADDRESS=192.168.2.190"
WorkingDirectory=/opt/rffe-epics-ioc/iocBoot/iocBPMRFFEApp
ExecStart=/opt/rffe-epics-ioc/iocBoot/iocBPMRFFEApp/run.sh %i
